h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'Cinzel', serif;
    border: black solid ;
    box-shadow: 0 0 20px black;
}

figcaption {
    text-align: center;
    font-size: 1em;
    font-family: 'Cinzel', serif;
    color: black;
}

img {
    justify-content: center;
    box-shadow: 0 0 20px black;
    border: solid 3px lightgray;
    margin: .5rem;
}

body {
    background-color: gray;
}

.senatorGrid {
    display: flex;
    flex-wrap: wrap;
}

figcaption {
    display: flex;
    justify-content: space-around;
}

.fa-democrat {
    color: blue;
}

.fa-republican {
    color: red;
}

.fa-star {
    color:greenyellow;
}

.progressDiv {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

label {
    font-size: 1rem;
}
