:root {
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    color: #bbbbbb
}

.container {
    display: flex;
}

.shipview {
    

}

.nav {
    border: solid 2px blue;
    padding: 1rem;
    background-color: #333333;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type:  none;
}

h1 {
    color: yellow;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
}